{% extends 'layout.html' %}

{% block content %}

<div class="container-fluid">
    
    <h1 style="font-family: 'Roboto', sans-serif;">sheet</h1>
    
    <div>
        <table style="font-family: 'Roboto', sans-serif;">
            <thead>
                <tr>
                    <th class="scope">Ticker</th>
                    <th class="scope">Buy Price</th>
                    <th class="scope">Min Target Price</th>
                    <th class="scope">Amount</th>
                    <th class="scope">Cost</th>
                    <th class="scope">Potential Net</th>
                    <th class="scope">Target Percent</th>
                </tr>

            </thead>
            <tbody>

            </tbody>
        </table>
    
    </div>
</div>


{% endblock content %}